node_modules

packages/**/dist
.vercel

# local sandbox data
apps/hps-dealengine/app/data/


.vercel

.env.local

.env.local

.vercel
.env*.local
supabase/functions/.env
/supabase/.env
/supabase/functions/.env
