name: CI

on:
  push:
    branches: [main, develop, feat/**]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install deps
        run: pnpm -w install --frozen-lockfile

      - name: Typecheck
        run: pnpm -w typecheck

      - name: Tests
        run: pnpm -w test

      - name: Build app
        run: pnpm --filter hps-dealengine build
